USE [master]
GO
/****** Object:  Database [ADMIN_1]    Script Date: 29/03/2025 20:59:49 ******/
CREATE DATABASE [ADMIN_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADMIN_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ILINSQL\MSSQL\DATA\ADMIN_1.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ADMIN_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ILINSQL\MSSQL\DATA\ADMIN_1_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADMIN_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADMIN_1]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/03/2025 20:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsernAME] [varchar](50) NOT NULL,
	[uSERpASS] [varchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
